.navbar {
    background-color: #1f2937;
}

.main {
    background-color: #1f2937;
}

.cards {

}

.text {
    background-color: #e5e7eb
}

.cta-section {

}

.cta{
    background-color: #3882F6
}

.footer{
    background-color: #1f2937;
}